
<div class="container">
	<div class="info-header">
		<div class="row">
			<div class="span2">
			<%= profile_image_tag_for @volunteer %>
			</div>
			<div class="details span7">
				<p class="heading"> 
					<%= @volunteer.full_name %>
				</p>
				<p class="email">
					<%= @volunteer.email %>
				</p>
				<p class="about">
					<%= @volunteer.bio %>
				</p>
			</div>
			<% if @volunteer == current_user %>
				<div class="span2 offset1 controls-header">
					<%= link_to 'Edit Profile', edit_volunteer_path(@volunteer), :class => 'btn btn-edit' %>
				</div>
			<% end %>
		</div>
	</div>

  <div class="row-fluid">
    <div class="span5 sidebar">
        <div class="heading">
        	Following (<%= @volunteer.follows.length %>)
        </div>
        <div class="sidebar-content follow-box">
					<% @volunteer.follows.each do |follow| %>
						<%= link_to follow.organization.name, organization_path(follow.organization) %>, 
					<% end %>
        </div>
        <% if @volunteer == current_user %>
        <div class="heading top-border">
        	Participated in (<%= @volunteer.participations.length %>)
        </div>
        <div class="sidebar-content participation-box">
					<% @volunteer.participations.each do |participation| %>
						<div class="event" id=<%=participation.event.id %>>
							<%= link_to participation.event.name, volunteer_participation_path(participation.volunteer, participation) %>
							<span class="moredetails">
								<div class="expandbtn">+</div>
								<div class="hiddeninfo hidden"%>
									<div class="eventdescription">
										<p><strong><%= participation.event.date ? participation.event.date.strftime('%B %d, %Y') : 'none' %></strong></p>
										<%= participation.event.description %>
									</div>
								</div>
							</span>
						</div>
					<% end %>
        </div>
        <% end %>
    </div>

    <div class="span8 main-content">
      <div class="hero-unit recent-activity">
         <% if @volunteer == current_user %>
         	<div class="hero-unit-header">
						<h2>Recent Activity</h2>
					</div>
					<% if @volunteer.donations.empty? %>
              <p>No recent activity.</p>
          <% else %>
						<% @volunteer.donations.reverse.first(10).each do |donation| %>
							<div class="search-table-entry">
								<%= image_tag("donation.png", :class => 'icon-pic-top') %>
								<div class="entry-text">
									<div class="info"><strong><%= donation.name %></strong> donated:</div>
									<div class="title">$<%= donation.amount %> to <%= donation.participation.event.name %></div>
								</div>
								<div class="entry-icon">
									<% if donation.email? and !donation.thank_you_sent? %>
										<%= link_to '<i class="icon-envelope icon-large black"></i>'.html_safe,
            							thank_volunteer_participation_path(
            							@volunteer,
            							donation.participation,
            							:donation_id => donation.id.to_s,
                          :donation_type => (donation.kind_of?(OfflineDonation) ? 'offline' : 'online')) %>
            			<% elsif donation.email? %>
            				<i class="icon-envelope icon-large inactive"></i>
            			<% end %>
									<%= link_to '<i class="icon-eye-open icon-large black"></i>'.html_safe,
            							volunteer_participation_path(@volunteer, donation.participation) %>
								</div>
							</div>
						<% end %>
					<%end%>
         <% else %>
					<div class="hero-unit-header">
						<h2>Participated in (<%= @volunteer.participations.length %>)</h2>
					</div>
					<div class="sidebar-content participation-box">
						<% @volunteer.participations.each do |participation| %>
							<div class="event" id=<%=participation.event.id %>>
								<%= link_to participation.event.name, volunteer_participation_path(participation.volunteer, participation) %>
								<span class="moredetails">
									<div class="expandbtn">+</div>
									<div class="hiddeninfo hidden"%>
										<div class="eventdescription">
											<p><strong><%= participation.event.date ? participation.event.date.strftime('%B %d, %Y') : 'none' %></strong></p>
											<%= participation.event.description %>
										</div>
									</div>
								</span>
							</div>
						<% end %>
					</div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :additional_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.hiddeninfo').hide();
      
      $('.moredetails').live('click', function(){
        if($(this).children('.hiddeninfo').is(':hidden')){
          $(this).children('.expandbtn').html('-');
          $(this).children('.hiddeninfo').slideDown();
        }else{
          $(this).children('.expandbtn').html('+');
          $(this).children('.hiddeninfo').slideUp();
        }
      });
    });
  </script>
<% end %>
