<div class="page-header">
  <%= profile_image_tag_for @volunteer %>
  <h1><%= @volunteer.name %></h1>

  <span class="toolbar">
    <!-- <%= link_to 'Back', volunteers_path, :class => 'btn'  %> -->
  <% if @volunteer == current_user %>
    <%= link_to 'Edit Profile', edit_volunteer_path(@volunteer), :class => 'btn' %>
  <% end %>
  </span>

</div>

<dl class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="biobox">
        <strong>About <%= @volunteer.name %></strong>
        <br /><br />
        <strong>Email</strong><br />
        <i><%= @volunteer.email %></i>
        <br /><br />
        <strong>Follows</strong><br />
        <% @volunteer.follows.each do |follow| %>
          <%= link_to follow.organization.name, organization_path(follow.organization) %><br />
        <% end %>
      </div>
    </div>

    <div class="span8">
      <div class="eventsbox">
        <h3>Participated in (<%= @volunteer.participations.length %>)</h3>
        <% @volunteer.participations.each do |participation| %>
          <div class="event" id=<%=participation.event.id %>>
            <%= link_to participation.event.name, volunteer_participation_path(participation.volunteer, participation) %>
            <span class="moredetails">
              <div class="expandbtn">+</div>
              <div class="hiddeninfo"%>
                <p class="eventdescription"><%= participation.event.date %><br /><%= participation.event.description %></p>
                <% if participation.event.organization == current_user %>
                  <%= link_to 'Edit Event', edit_organization_event_path(participation.event.organization, participation.event), :class => 'btn' %>
                <% elsif !(current_user.kind_of? Organization) %>
                  <%= link_to 'Participate', new_volunteer_participation_path(current_user || 0, :event_id => participation.event.id), :class => 'btn' %>
                <% end %>
              </div>
            </span>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :additional_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.hiddeninfo').hide();
      
      $('.moredetails').live('click', function(){
        if($(this).children('.hiddeninfo').is(':hidden')){
          $(this).children('.expandbtn').html('-');
          $(this).children('.hiddeninfo').slideDown();
        }else{
          $(this).children('.expandbtn').html('+');
          $(this).children('.hiddeninfo').slideUp();
        }
      });
    });
  </script>
<% end %>
