
	<%= form_for @donation, :url => donate_volunteer_participation_path(@participation.volunteer, @participation),
										:html => { :class => 'form-horizontal donate-form', :id => 'stripe-payment-form' } do |f| %>

	<div class="alert alert-error alert-block" style="<%=(@donation.errors.any? ? '' : 'display: none')%>">
		<% if @donation.errors.any? %>
			<h4><%= pluralize(@donation.errors.count, "error") %> while checking out</h4>
			<ul>d
				<% @donation.errors.full_messages.each do |msg| %>
					<li><%= msg %>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div class="control-group">
		<label class="control-label">Donation Amount</label>
		<div class="controls">
			<div class="input-prepend input-append">
				<span class="add-on">$</span>
				<%= f.text_field :amount, :size => 4, :class => 'input-mini amount-input' %>
				<span class="add-on">.00</span>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Email</label>
		<div class="controls">
			<%= f.text_field :email %>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Card Number</label>
		<div class="controls">
			<input type="text" size="20" autocomplete="off" class="card-number" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">
			CVC
			<a href="#" rel="popover"
			   data-content="Your CVC is usually located on the back of your card."
			   data-original-title="Where is my CVC?"
			   data-trigger="hover"
			   onclick="javascript:return false;">
			   	<i class="icon-question-sign"></i>
			</a>
		</label>
		<div class="controls">
			<input type="text" size="4" autocomplete="off" class="card-cvc input-mini" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Expiration</label>
		<div class="controls">
			<input type="text" size="2" autocomplete="off" class="card-expiry-month input-mini" placeholder="MM" maxlength="2"/>
			/
			<input type="text" size="4" autocomplete="off" class="card-expiry-year input-mini" placeholder="YYYY" maxlength="4"/>

		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Message</label>
		<div class="controls">
			<%= f.text_area :message, :rows=>5 %>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">
			Keep Private
			<a href="#" rel="popover"
			   data-content="Email is always private. Name, amount, and message are always shown
				to the volunteer you're contributing to, but you can choose to not
				show them publicly."
			   data-original-title="What does this mean?"
			   data-trigger="hover"
			   onclick="javascript:return false;">
			   	<i class="icon-question-sign"></i>
			</a>
		</label>
		<div class="controls">
			<label class="checkbox">
				<%= f.check_box :is_name_private %> Name
			</label>
			<label class="checkbox">
				<%= f.check_box :is_amount_private %> Amount
			</label>
			<label class="checkbox">
				<%= f.check_box :is_message_private %> Message
			</label>
		</div>

	</div>

	<div class="control-group form-actions">
		<%= f.submit 'Donate', :class => 'btn btn-primary submit-button' %>
	</div>
<% end %>


<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= j @participation.event.organization.stripe_pub_key %>");
</script>
