<div class="page-header center-header" >
  <h1 >Support <%= @participation.volunteer.full_name%></h1>
  <h2 class="nonBoldHeader"><%= @participation.volunteer.name%> is participating in <%= @participation.event.name%></h2>
</div>

<div class="container-fluid">
  <div class="row-fluid">
		<div class="span7">
			<div class="row">
				<div class="span3 statistic offset1">
					<small> Raised Online</small>
					<div class="row">
						<div class="span3">
							<strong class="text-orange"> $<%= @participation.donation_sum %> </strong>
						</div>
					</div>
				</div>
				<div class="span3 statistic offset1">
					<small> Raised Offline</small>
					<div class="row">
						<div class="span3">
							<strong class="text-blue"> $<%= @participation.offline_donation_sum %> </strong>
						</div>
					</div>
				</div>
				<div class="span1 statistic offset1">
					<small> Goal </small>
					<div class="row">
						<div class="span1">
							<strong> $<%= @participation.goal %> </strong>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span10 offset1">
					<div class="progress">
						<div class="bar bar-warning" id="onlineBar"></div>
						<div class="bar bar-info" id="offlineBar"></div>
					</div>
				</div>
			</div>
			<div class="biobox" >
				<strong>A Message From <%= @participation.volunteer.name%></strong>
				<p><%= @participation.note %></p>
				<div class="row">
				<div class="span6">
					<strong><%= link_to "More about this volunteer &raquo;".html_safe, volunteer_path(@participation.volunteer) %></strong>
				</div>
				<div class="span6">
					<strong><%= link_to "More about this event &raquo;".html_safe, organization_event_path(@participation.event.organization, @participation.event) %></strong>
				</div>
				</div>
			</div>
			<div>

				<h2> Donation History </h2>
                <% if @participation.donations.empty? && @participation.offline_donations.empty?%>
                    <p>No donations yet.</p>
                <% else %>
    				<table class="table table-bordered">
    					<% (@participation.donations + @participation.offline_donations).each do |donation| %>
    						<% if donation.all_private != true %>
            					<tr>
            						<% if @volunteer == current_user %>
            						<td>
            							<%= donation.private_history_message %>
            						</td>
            						<td>

            							<% if donation.email? and !donation.thank_you_sent? %>
            								<%= link_to "Send a Thank-You",
            								            thank_volunteer_participation_path(
            								            	@volunteer,
            								            	@participation,
            								            	:donation_id => donation.id.to_s,
                                                            :donation_type => (donation.kind_of?(OfflineDonation) ? 'offline' : 'online')) %>
            							<% elsif donation.email? %>
            								Thank-you sent.
            							<% else %>
            								No email given.
            							<% end %>

            						</td>
            						<% else %>
            						<td>
            							<%= donation.share_history_message %>
            						</td>
            						<% end %>
            					</tr>
            				<% end %>
            			<% end %>
    				</table>
                 <% end %>
    		</div>

			<% if @volunteer == current_user %>
				<div class="form-actions">
    			<%= link_to 'Edit Participation', edit_volunteer_participation_path(@volunteer, @participation), :class => 'btn btn-margin' %>
    			<%= link_to 'Log Offline Donation', offline_donate_volunteer_participation_path(@volunteer, @participation), :class => 'btn btn-margin' %>
    		</div>
    		<div class="sharebox">
    			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Please donate to my charity">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>

				<div id='fb-root'></div>
				<script src='http://connect.facebook.net/en_US/all.js'></script>
				<a onclick='postToFeed(); return false;'>Share on Facebook</a>
				<p id='msg'></p>
				<script> 
			      FB.init({appId: "495928953775088", status: true, cookie: true});

			      function postToFeed() {

			        // calling the API ...
			        var obj = {
			          method: 'feed',
			          redirect_uri: window.location.href,
			          link: 'https://developers.facebook.com/docs/reference/dialogs/',
			          picture: 'http://fbrell.com/f8.jpg',
			          name: 'Facebook Dialogs',
			          caption: 'Reference Documentation',
			          description: 'Using Dialogs to interact with users.'
			        };

			        function callback(response) {
			          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
			        }

			        FB.ui(obj, callback);
			      }
			    
			    </script>
			</div>
  		<% end %>
		</div>
		<div class="span5 eventsbox" id="donationForm">
			<%= render :partial => 'donate_form' %>
		</div>
	</div>
</div>

<% content_for :additional_scripts do %>
    <script type="text/javascript">
			var online_perc = <%= @online_perc %>;
			var offline_perc = <%= @offline_perc %>;
			$('#onlineBar').css('width', (online_perc)+'%');
			$('#offlineBar').css('width', (offline_perc)+'%');
    </script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
	<script type="text/javascript">
	  Stripe.setPublishableKey("<%= @participation.event.organization.stripe_pub_key %>");
	</script>
<% end %>
