<div class="page-header center-header" >
  <h1 >Support <%= @participation.volunteer.full_name%></h1>
  <h2 class="nonBoldHeader"><%= @participation.volunteer.name%> is participating in <%= @participation.event.name%></h2>
</div>

<div class="container-fluid">
  <div class="row-fluid">
		<div class="span7">
			<div class="row">
				<div class="span3 statistic offset1">
					<small> Raised Online</small>
					<div class="row">
						<div class="span3">
							<strong class="text-orange"> $<%= @participation.donation_sum %> </strong>
						</div>
					</div>
				</div>
				<div class="span3 statistic offset1">
					<small> Raised Offline</small>
					<div class="row">
						<div class="span3">
							<strong class="text-blue"> $<%= @participation.offline_donation_sum %> </strong>
						</div>
					</div>
				</div>
				<div class="span1 statistic offset1">
					<small> Goal </small>
					<div class="row">
						<div class="span1">
							<strong> $<%= @participation.goal %> </strong>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span10 offset1">
					<div class="progress"> 
						<div class="bar bar-warning" id="onlineBar"></div>
						<div class="bar bar-info" id="offlineBar"></div>
					</div>
				</div>
			</div>
			<div class="biobox" >
				<strong>A Message From <%= @participation.volunteer.name%></strong>
				<p><%= @participation.note %></p>
				<div class="row">
				<div class="span6">
					<strong><%= link_to "More about this volunteer &raquo;".html_safe, volunteer_path(@participation.volunteer) %></strong>
				</div>
				<div class="span6">
					<strong><%= link_to "More about this event &raquo;".html_safe, organization_event_path(@participation.event.organization, @participation.event) %></strong>
				</div>
				</div>
			</div>
			<div>
				<h2> Donation History </h2>
				<table class="table table-bordered">
					<% @participation.donations.each do |donation| %>
						<% if donation.all_private != true %>
        		<tr><td><%= donation.share_history_message %></tr></td>
        		<% end %>
        	<% end %>
        	<% @participation.offline_donations.each do |offline_donation| %>
						<% if offline_donation.all_private != true %>
        		<tr><td><%= offline_donation.share_history_message %></tr></td>
        		<% end %>
        	<% end %>
				</table>
			</div>
			<% if @volunteer == current_user %>
				<div class="form-actions">
    			<%= link_to 'Edit Participation', edit_volunteer_participation_path(@volunteer, @participation), :class => 'btn btn-margin' %>
    			<%= link_to 'Log Offline Donation', offline_donate_volunteer_participation_path(@volunteer, @participation), :class => 'btn btn-margin' %>
    		</div>
  		<% end %>
		</div>
		<div class="span5 eventsbox" id="donationForm">
			<%= render :partial => 'donate_form' %>
		</div>
	</div>
</div>

<% content_for :additional_scripts do %>
    <script type="text/javascript">
			var online_perc = <%= @online_perc %>;
			var offline_perc = <%= @offline_perc %>;
			$('#onlineBar').css('width', (online_perc)+'%');
			$('#offlineBar').css('width', (offline_perc)+'%');
    </script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
	<script type="text/javascript">
	  Stripe.setPublishableKey("<%= @participation.event.organization.stripe_pub_key %>");
	</script>
<% end %>
