<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [current_user, @event],:html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
    	<div class="input-append date">
      	<%= f.text_field :date, :class => 'date-input input-small', :id => 'foo',
                       "data-date" => @event.date ? @event.date.strftime : Date.today.strftime,
                       "data-date-format" => "yyyy-mm-dd" %>
     	 	<span class="add-on">
					<i class="icon-calendar"></i>
				</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
    	<div class="input-append">
    		<%- time_string = @event.time ? @event.time.strftime("%I:%M %p") : Time.now.strftime("%I:00 %p") -%>
				<%= f.text_field :time, :class => 'time-input input-small', :value => time_string %>
				<span class="add-on">
					<i class="icon-time"></i>
				</span>
    	</div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, "Event Image", :class => 'control-label' %>
    <div class="controls">
      <a class="btn filepicker-btn">Pick a file</a>
      <br /><br />
      <%= profile_event_image_tag_for @event %>
      <%= f.hidden_field :image_url, :id => 'avatar_url_field' %>
    </div>
  </div>
  <div class="control-group">
    <label>Canned Messages</label>
    <div class="controls">
      Help your volunteers out by providing them messages to send to their
      donors. You can use <code>{{date}}</code> to insert the date
      of your event, <code>{{name}}</code> to insert the name of your event,
      <code>{{org}}</code> to insert the name of your organization,
      <code>{{link}}</code> to insert a link to the participation page,
      and <code>{{volunteer}}</code> in insert the name of the volunteer
      sending the message. For a thank-you message, you can also use
      <code>{{donor}}</code> to insert the donor's name.

      <ul class="nav nav-tabs">
        <li class="active"><a href="#msg-solicit" data-toggle="tab">Solicitation</a></li>
        <li><a href="#msg-thank-you" data-toggle="tab">Thank-You</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="msg-solicit">
          Volunteers will be prompted to send this message to their friends to
          solicit donations.

          <%= f.text_area :solicit_email, :class => 'text_area' %>
        </div>
        <div class="tab-pane fade" id="msg-thank-you">
          Volunteers will be prompted to send this email to donors who
          contribute money to them.
          <%= f.text_area :thank_you_email, :class => 'text_area' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', root_url, :class => 'btn' %>
  </div>
<% end %>
