<div class="row">
	<div class="search-side-bar span4">
		<h1> Upcoming Events </h1>
		<p class="info">New events are added daily by our various organizations.</p>
		<input type="text" class="search-query span4" placeholder="Search" data-deletable>
	</div>
	<div class="search-table-center span7">
		<div class="hero-unit">
			<div class="hero-unit-header"><h2>Upcoming Events (<%= @events.size %>)</h2></div>
				<% if @events.empty? %>
						<p>No upcoming events.</p>
				<% else %>
					<% @events.each do |event| %>
						<div class="search-table-entry">
							<%= icon_event_image_tag_for event %>
							<div class="entry-text">
								<div class="info">On <strong><%= event.date ? event.date.strftime('%B %d') : 'none' %></strong> hosted by <strong><%= event.organization.name %></strong></div>
								<div class="title"><%= link_to event.name, event_path(event) %></div>
							</div>
						</div>
					<% end %>
				<% end %>
		</div>

	</div>
</div>

<% content_for :additional_scripts do %>
    <script type="text/javascript">
			$('#events_nav').addClass("active");
    </script>
<% end %>