<div class="page-header center-header">
  <h1><%= @event.name %></h1>
  <h2 class="nonBoldHeader">Run by <%= @event.organization.name%> </h2>
</div>
<div class="container-fluid">
  <div class="row-fluid">
		<div class="span7">
				<h2><span class="nonBoldHeader">Join us on </span><%= @event.date ? @event.date.strftime('%B %d, %Y') : 'none' %></h2>
				<div class="biobox">
					<div class="description"><%= @event.description %></div>
					<p><strong><%= link_to ("More about " + @event.organization.name + " &raquo;").html_safe, organization_path(@event.organization) %></strong></p>
				</div>
		</div>
		<div class="span5 eventsbox">
			<h2>Participants</h2>
            <% if @event.participations.empty? %>
                <p>No participants yet.</p>
            <% else %>
    			<table class="table table-bordered table-background">
        			<tbody>
        					<% @event.participations.each do |participation| %>
        							<tr><td><%= link_to participation.volunteer.name, volunteer_participation_path(participation.volunteer, participation) %></tr></td>
        					<% end %>
        			</tbody>
    			</table>
            <% end %>
		</div>
	</div>
</div>

<div class="form-actions">
  <% if @event.organization == current_user %>
    <%= link_to 'Edit Event', edit_organization_event_path(@event.organization, @event), :class => 'btn' %>
  <% elsif !(current_user.kind_of? Organization) %>
    <%= link_to 'Participate', new_volunteer_participation_path(current_user || 0, :event_id => @event.id), :class => 'btn' %>
  <% end %>
</div>
