<div class="page-header">
  <%= profile_image_tag_for @organization %>
  <h1><%= @organization.name %></h1>

  <div class="toolbar">
    <!-- <%= link_to 'Back', organizations_path, :class => 'btn'  %> -->
    <% if current_user == @organization %>
      <%= link_to 'Edit Organization', edit_organization_path(@organization), :class => 'btn' %>
    <% end %>
  </div>

</div>

<dl class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="biobox">
        <strong>About <%= @organization.name %></strong><br />
        <%= @organization.bio %>
        <br /><br />
        <strong>Email</strong><br />
        <i><%= @organization.email %></i>
      </div>
    </div>

    <div class="span8">
      <div class="eventsbox">
        <h2>Upcoming Events (<%= @organization.events.length %>)</h2>
        <% @organization.events.each do |event| %>
          <div class="event" id=<%=event.id %>>
            <%= link_to event.name, organization_event_path(@organization, event) %>
            <span class="moredetails">
              <div class="expandbtn">+</div>
              <div class="hiddeninfo"%>
                <p class="eventdescription"><%= event.description %></p>
                <% if event.organization == current_user %>
                  <%= link_to 'Edit Event', edit_organization_event_path(event.organization, event), :class => 'btn' %>
                <% elsif !(current_user.kind_of? Organization) %>
                  <%= link_to 'Participate', new_volunteer_participation_path(current_user || 0, :event_id => event.id), :class => 'btn' %>
                <% end %>
              </div>
            </span>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :additional_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.hiddeninfo').hide();
      
      $('.moredetails').live('click', function(){
        if($(this).children('.hiddeninfo').is(':hidden')){
          $(this).children('.expandbtn').html('-');
          $(this).children('.hiddeninfo').slideDown();
        }else{
          $(this).children('.expandbtn').html('+');
          $(this).children('.hiddeninfo').slideUp();
        }
      });
    });
  </script>
<% end %>
