<div class="info-header">
		<div class="row">
			<div class="span2">
			<%= profile_image_tag_for @organization %>
			</div>
			<div class="details span6">
				<p class="heading">
					<%= @organization.name %>
				</p>
			</div>
				<% if current_user %>
					<% if current_user == @organization %>
					<div class="span3 controls-border">
						<%= link_to 'Edit Organization', edit_organization_path(@organization) %>
						<%= link_to "CREATE EVENT", new_organization_event_path(@organization) %>
					</div>
					<% else %>
					<div class="span4 controls">
						<% if @followalready %>
							<%= link_to 'Unfollow', unfollow_organization_path, :method => :delete, :class => 'btn btn-warning' %>
						<% else %>
							<%= link_to 'Follow', follow_organization_path, :method => :post, :class => 'btn btn-warning' %>
						<% end %>
					</div>
					<% end %>
				<% end %>
		</div>
	</div>

  <div class="row-fluid">
		<div class="span7 sidebar">
			<table>
				<tr>
					<td class="table-label">NAME</td>
					<td><%= @organization.name %></td>
				</tr>
				<tr>
					<td class="table-label"> ABOUT</td>
					<td><%= @organization.bio %></td>
				</tr>
			</table>
		</div>
		<div class="span6 main-content">
			<div class="hero-unit">
				<div class="hero-unit-header">
					<h2>Upcoming Events (<%= @futureevents.length %>)</h2>
				</div>
				<% if @futureevents.empty? %>
						<p>No upcoming events.</p>
				<% else %>
					<% @futureevents.each do |event| %>
						<div class="event" id=<%=event.id %>>
							<%= link_to event.name, organization_event_path(@organization, event) %>
							<span class="moredetails">
								<div class="expandbtn">+</div>
								<div class="hiddeninfo hidden"%>
										<div class="eventdescription">
											<p><strong><%= event.date ? event.date.strftime('%B %d, %Y') : 'none' %></strong></p>
											<%= event.description %>
										</div>
									</div>
							</span>
						</div>
					<% end %>
				<% end %>
				<div class="hero-unit-header">
					<h2>Past Events (<%= @pastevents.length %>)</h2>
				</div>
					<% if @pastevents.empty? %>
						<p>No past events.</p>
					<% else %>
						<% @pastevents.each do |event| %>
							<div class="event" id=<%=event.id %>>
								<%= link_to event.name, organization_event_path(@organization, event) %>
								<span class="moredetails">
									<div class="expandbtn">+</div>
									<div class="hiddeninfo hidden"%>
										<div class="eventdescription">
											<p><strong><%= event.date ? event.date.strftime('%B %d, %Y') : 'none' %></strong></p>
											<%= event.description %>
										</div>
									</div>
								</span>
							</div>
						<% end %>
					<% end %>
      </div>
		</div>
	</div>
</div>

<% content_for :additional_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.hiddeninfo').hide();
      
      $('.moredetails').live('click', function(){
        if($(this).children('.hiddeninfo').is(':hidden')){
          $(this).children('.expandbtn').html('-');
          $(this).children('.hiddeninfo').slideDown();
        }else{
          $(this).children('.expandbtn').html('+');
          $(this).children('.hiddeninfo').slideUp();
        }
      });
    });
  </script>
<% end %>
