<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FundIt" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name %>">

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">FundIt</a>

          <ul class="nav">
            <li><%= link_to "Organizations", organizations_path %></li>
            <% if current_user.kind_of? Organization %>
              <li><%= link_to "Create Event", new_organization_event_path(current_user)  %></li>
            <% end %>
          </ul>

          <% if current_user %>
            <p class="navbar-text pull-right">
              <% if current_user.kind_of? Volunteer %>
                Logged in as <%= link_to current_user.name, volunteer_path(current_user) %>.
              <% else %>
                Logged in as <%= link_to current_user.name, organization_path(current_user) %>.
              <% end %>
              <%= link_to 'Log Out.', logout_path, :method => 'delete' %>
            </p>
          <% else %>
              <p class="navbar-text pull-right">
                <%= link_to 'Log In / Register', login_path %>
              </p>
          <% end %>

          </div>
      </div>
    </div>

    <div class="container content-container">
      <div class="content">
        <% if flash[:alert] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>

    <div class="container footer">
      Created for <a href="https://stellar.mit.edu/S/course/6/fa12/6.170/">6.170</a>
      by Ben Weissmann, Joanna Kao, and Cristina Lozano. Source on
      <a href="https://github.com/6170/qwerty">GitHub</a>.
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

    <%= yield :additional_scripts %>
  </body>
</html>
